body, html {
  height: : 100%;
}

.parrallax {
  background-image: url('static/cat.jpg');
  /* Full Height */
  height: 100%;
  /*Create the scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
